# Database Configuration
DB_USER=postgres
DB_PASSWORD=root123
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bookflow

# Application Secret Key
SECRET_KEY=your-super-secret-key-change-in-production

# SMTP for OTP / transactional email (e.g. Gmail)
SMTP_EMAIL=stormfire339@gmail.com
SMTP_PASSWORD=opppagayhlcgeyvf
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
